<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title%}{% endblock %}</title>


        <!-- React dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <!-- Include any page-specific JavaScript using this block. -->
        {% block js %}
        {% endblock %}
    </head>
    <body>
        Stardew Valley Character Cards

        {% block body %} 

        {% endblock %}
    </body>
</html>