{% extends 'base.html' %}

{% block title %} Portrait Cards {% endblock %}

{% block js %}
    <script src="/static/js/charactercards.jsx" type="text/jsx"></script>
{% endblock %}

{% block body %}
<div class="grid">
    <!-- each div is a different character card -->
    <div id="Abigail"></div>
    <div id="Alex"></div>
    <div id="Birdie"></div>
    <div id="Bear"></div>
    <div id="Bouncer"></div>
    <div id="Caroline"></div>
    <div id="Clint"></div>
    <div id="Demetrius"></div>
    <div id="Dwarf"></div>
    <div id="Elliot"></div>
    <div id="Emily"></div>
    <div id="Evelyn"></div>
    <div id="George"></div>
    <div id="Gil"></div>
    <div id="Govenor"></div>
    <div id="Grandpa"></div>
    <div id="Gunther"></div>
    <div id="Gus"></div>
    <div id="Haley"></div>
    <div id="Harvey"></div>
    <div id="Hat Mouse"></div>
    <div id="Henchman"></div>
    <div id="Jas"></div>
    <div id="Jodi"></div>
    <div id="Kent"></div>
    <div id="Krobus"></div>
    <div id="Leah"></div>
    <div id="Leo"></div>
    <div id="Lewis"></div>
    <div id="Linus"></div>
    <div id="Marlon"></div>
    <div id="Maru"></div>
    <div id="Morris"></div>
    <div id="Mr. Qi"></div>
    <div id="Pam"></div>
    <div id="Penny"></div>
    <div id="Pierre"></div>
    <div id="Professor Snail"></div>
    <div id="Robin"></div>
    <div id="Sam"></div>
    <div id="Sandy"></div>
    <div id="Sebastian"></div>
    <div id="Shane"></div>
    <div id="Vincent"></div>
    <div id="Willy"></div>
    <div id="Wizard"></div>
</div>

{% endblock %}